@import "/node_modules/modern-normalize/modern-normalize.css";

:root {
  --white: #fff;
  --black: #121417;
  --grey: #f8f8f8;

  --primary1: #f4c550;
  --light-primary1: #fbe9ba;

  --primary2: #9fbaae;
  --light-primary2: #cbded3;

  --primary3: #9fb7ce;
  --light-primary3: #bfd6ea;

  --primary4: #e0a39a;
  --light-primary4: #f2c0bd;

  --primary5: #f0aa8d;
  --light-primary5: #f4c8ba;
}

body {
  margin: 0 auto;
  font-family: "Roboto", system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  background-color: var(--white);
  color: var(--black);
  line-height: 1.37;
  letter-spacing: -0.02em;
}

ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
img {
  display: block;
  line-height: 0;
}
* {
  margin: 0;
}
h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
}
